body {
    background: linear-gradient(#6A418A, #930DFF);
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 85vw;
    margin: auto;
    padding: none;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test {
    width: 80vw;
    height: 88vh;
    padding: none;
    margin: auto;
}

.heroSectionContainer {
    grid-template-columns: repeat(12, 1fr);
    width: 90vw;
    margin: auto;
    height: 50vh;
    border-top: 5px solid #FE6845;
    border-bottom: 5px solid #FE6845;
}

.heroSectionContainerInner {
    display: grid;
    align-content: center;
    width: 95%;
    margin: auto;
    height: 100%;
    grid-column: 1/13;
}

.heroTextGrid {
    display: inline-grid;
    max-width: 98%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #FFDAD1;
    font-size: 4rem;
    grid-column: 2/8;
    align-content: center;
}

.heroTextImage {
    display: inline-grid;
    grid-column: 9/12;
}

.heroSectionSlider {
    padding-top: 2em;
    padding-bottom: 2em;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    max-width: 95%;
    margin: auto;
    height: 65%;

}

.heroSectionSliderText {
    font-family: 'Poppins', sans-serif;
    color: #FFDAD1;
    font-size: 1.85rem;
    grid-column: 1/13;
}

.heroSlider {
    margin-top: 12%;
    height: 70%;
}

.quizCardBox {
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
    font-family: 'Poppins', sans-serif;
    height: auto;
    width: 15%;
    margin: 2%;
    font-size: 1vw;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h4 {
    font-family: 'Poppins', sans-serif;
    word-spacing: 1000px;
    text-align: center;
}

.quizCardBox:hover {
    transform: scale(1.2);
}