.chatBoxContainer,
.chatFriendListContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: 500px;
  width: 330px;
  border-radius: 10px;
  bottom: 15em;
  right: 2em;
  z-index: 200;
  background-image: linear-gradient(#5A1791, #3F195F);
  border: solid 2px black;
}

.chatRoom,
.chatHeader {
  font-size: 40px;
}

.chatTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  /* margin-top: 1px; */
  background-color: #9130E2;
}

.friendsButton {
  margin-bottom: 5px;
  height: 30px;
}

.chatFriendListContainer {
  color: white;
}

.chatFriendList {
  overflow: scroll;
}

.chatArea {
  height: 200px;
  width: 330px;
  overflow: scroll;
}

.messageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.messageText {
  color: #FAEDEA;
}

.sender {
  /* background-color: green; */

}

.recipient {
  /* background-color: blue; */
}

.message:hover {
  background-color: grey;
}

input {
  height: 30px;
  width: 200px;
}

button {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  color: white;
  background-color: #ff9100;
  border: none;
  cursor: pointer;
}

.deleteMessageButton {
  width: 60px;
  justify-content: center;
  color: white;
}