.chatBoxContainer,
.chatFriendListContainer {
  position: absolute;
  height: 400px;
  width: 300px;
  bottom: 15em;
  right: 5em;
  z-index: 200;
  border: solid 2px black;
}

.chatRoom,
.chatHeader {
  font-size: 40px;
}

.chatArea {
  height: 300px;
  width: 300px;
  background-color: white;
  overflow: scroll;
}

.messageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.sender {
  /* background-color: green; */

}

.recipient {
  /* background-color: blue; */
}

/* .message:hover {
  background-color: grey;
} */

input {
  height: 30px;
  width: 200px;
}

button {
  height: 30px;
  width: 100px;
  border-radius: 10px;
  color: white;
  background-color: #ff9100;
  border: none;
  cursor: pointer;
}

.deleteMessageButton {
  width: 60px;
  justify-content: center;
  color: white;
}