.chatBoxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.chatRoom,
.chatHeader {
  font-size: 40px;
}

.chatArea {
  width: 300px;
  background-color: white;
}

.message {
  cursor: pointer;
}

.message:hover {
  background-color: grey;
}

input {
  height: 30px;
  width: 200px;
}

button {
  height: 30px;
  width: 100px;
  background-color: white;
  cursor: pointer;
}